.cart{
    width: 300px;
    border: 2px solid gray;
    margin: 3px;
    text-align: center;
    box-shadow: 4px 4px 4px gray;
    border-radius: 6px;
}

.img{
    width: 100%;
}

.cart-button{
    padding: 10px;
    margin-bottom: 10px;
}